<div class="container">
    <h3 class="text-center">Messaging</h3>
    <div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4>Messages</h4>
            </div>
            <div class="srch_bar">
              <div class="stylish-input-group">
                <input type="text" class="search-bar" placeholder="newChatRoom" />
                <span class="input-group-addon">
                  <button type="button">
                    <fa-icon [icon]="faPlus"></fa-icon>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div class="inbox_chat">
            <app-chat-room
              [id]="0"
              [name]="'ChatRoom1'"
              [users]="10"
            ></app-chat-room>
          </div>
        </div>
        <div class="mesgs">
          <div class="msg_history">
            <app-message [userName]="'user 1'" [isIn]="true" [text]="'test text'" [date]="'2020-15-05 13:00PM'"></app-message>
          </div>
          <div class="type_msg">
            <div class="input_msg_write">
              <input type="text" class="write_msg" placeholder="Type a message" />
              <button class="msg_send_btn" type="button">
                <fa-icon [icon]="faPaperPlane"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  