<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="RabbitMQAddress" value="192.168.0.117" />
    <add key="RabbitMQPort" value="5672" />
    <add key="RabbitMQUserName" value="guest" />
    <add key="RabbitMQPassword" value="guest" />
  </appSettings>
</configuration>